*{
  font-family: 'Lato', sans-serif;
    }

.Header {
  background-color: rgb(34, 34, 34);
  padding: 0.5em;
  width: 100%;
}


.Works-footer {
  position:fixed;
  width: 100%;
  text-align: center;
  background-color: rgb(242, 241, 239);
  bottom: 130px;
}

.Button {
  background-color: rgb(120, 224, 195);
  width: 8em;
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
  transition: background-color 2s ease-out;
}

.Button:hover{
  background-color: blue;
  cursor: pointer;
}

.Background {
  width: 100%;
  position: absolute;
  z-index: -1;
    
}

.Logo {
  width: 8em; 
  padding-left: 10% ;
 
}

.Works-title{
  color: black;
}

.Text-container {
  position: absolute;
  color: white;
  width: 500px;
  padding-left: 10%;
  margin-top: 40px;
}

.Data-container {
 display: flex;
  width: 100%;  
  background-color: rgb(242, 241, 239); 
  position: fixed;

}

.Works-number {
  text-decoration: underline;
  text-decoration-color: rgb(120, 224, 195);
  font-size: 2em;
  text-align: center;

}

.Delivery-info {
  text-decoration: none;
  text-align: center;


}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.60em;
}

.Detail-text{
  font-size: 0.60em;
  padding:0 25px;
  font-weight: 300;
  margin-bottom: 100px;

}

h1{
  font-weight: 300;
  font-size: 40px;
  padding-top: 0px;
}

h2 {
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }

  .Background {
    height: 100%;
    width: auto;
  }

  .Data-container {
     width: 100%;  
     background-color: rgb(242, 241, 239); 
     display: block
   }

   .Text-container {
    position: absolute;
    color: white;
    width: 80%;
    padding-left: 10%;
    margin-top: 10%;
  }

  

}


